# Importing Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pickle
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [3]:
# loading the dataset
df=pd.read_excel("Book2.xlsx")

In [4]:
# view of first five rows of data 
df.head()

,State,District_name,Literacy_rate,Literacy_rate_category,Literacy_rate_category_number,District_number
0,1,Bandipore,52.65,low,2,1
1,1,Anantnag,62.42,low,2,2
2,1,Baramulla,55.01,low,2,3
3,1,Budgam,47.00,low,2,4
4,1,Doda,76.94,high,1,5

In [5]:
# view of last five rows of data
df.tail()

,State,District_name,Literacy_rate,Literacy_rate_category,Literacy_rate_category_number,District_number
619,26,Sitapur,59.58,low,2,620
620,26,Sonbhadra,59.60,low,2,621
621,26,Sultanpur,77.20,high,1,622
622,26,Unnao,69.87,low,2,623
623,26,Varanasi,72.92,low,2,624

In [6]:
# print of information of df 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 624 entries, 0 to 623
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State                          624 non-null    int64
 1   District_name                  624 non-null    object
 2   Literacy_rate                  624 non-null    float64
 3   Literacy_rate_category         624 non-null    object
 4   Literacy_rate_category_number  624 non-null    int64
 5   District_number                624 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 29.4+ KB

In [7]:
# checking of null values
df.isnull().sum()

State                            0
District_name                    0
Literacy_rate                    0
Literacy_rate_category           0
Literacy_rate_category_number    0
District_number                  0
dtype: int64

In [8]:
data=df.drop(['District_name','Literacy_rate_category'], axis = 1)

In [9]:
data.head()

   State  Literacy_rate  Literacy_rate_category_number  District_number
0      1          52.65                              2                1
1      1          62.42                              2                2
2      1          55.01                              2                3
3      1          47.00                              2                4
4      1          76.94                              1                5

In [40]:
# checking of null values
data.isnull().sum()

State                            0
Literacy_rate                    0
Literacy_rate_category_number    0
District_number                  0
dtype: int64

# Splitting the data

In [20]:
x= data.drop(columns="Literacy_rate_category_number", axis=1)
y= data["Literacy_rate_category_number"]

# Building the model

In [21]:
# splitting the data into train and test data
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y, random_state=2)

In [37]:
knn_cv.fit(x_train,y_train)
x_test_prediction =knn_cv.predict(x_train)
test_data_accuracy = accuracy_score(x_test_prediction, y_train)
print(test_data_accuracy)

0.8597194388777555

In [36]:
knn_cv.fit(x_test,y_test)
x_test_prediction =knn_cv.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)
print(test_data_accuracy)

0.728

In [23]:
model=LogisticRegression()
model.fit(x_train,y_train)
x_train_prediction =model.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction, y_train)

In [24]:
print("accuracy score for training data : ",training_data_accuracy)

accuracy score for training data :  1.0

In [25]:
model=LogisticRegression()
model.fit(x_test,y_test)
x_test_prediction =model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)

In [26]:
print("accuracy score for training data : ",test_data_accuracy)

accuracy score for training data :  0.984

In [32]:
rfc = RandomForestClassifier(random_state = 42)
rfc.fit(x_train,y_train)
x_test_prediction =rfc.predict(x_train)
train_data_accuracy = accuracy_score(x_train_prediction, y_train)
print(train_data_accuracy)

1.0

In [33]:
rfc = RandomForestClassifier(random_state = 42)
rfc.fit(x_test,y_test)
x_test_prediction =rfc.predict(x_test)
test_data_accuracy = accuracy_score(x_test_prediction, y_test)
print(test_data_accuracy)

1.0

In [38]:
input_data=(27,76.8,106)
input_data_asarray=np.asarray(input_data)
input_data_reshape=input_data_asarray.reshape(1,-1)
New_data_prediction = model.predict(input_data_reshape)
print(New_data_prediction)

[1]

In [39]:
input_data=(1,69.8,475)
input_data_asarray=np.asarray(input_data)
input_data_reshape=input_data_asarray.reshape(1,-1)
New_data_prediction = model.predict(input_data_reshape)
print(New_data_prediction)

[2]